PyQt6
scapy==2.5.0
netifaces
psutil
pyinstaller==6.11.1
pywin32==305 ; sys_platform == 'win32'
cryptography==41.0.3  # 修复scapy兼容性问题
certifi==2024.7.4  # 修复PYSEC-2024-230漏洞
requests==2.32.0  # 修复GHSA-9wx4-h78v-vm56漏洞
urllib3==2.2.2  # 修复GHSA-34jh-p97f-mpxf漏洞
tornado==6.4.2  # 修复GHSA-8w49-h785-mj3c漏洞